.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1411c4;
  color: white;
  box-shadow: 0 2px 4px rgb(116, 129, 214);

  font-family: 'Roboto', sans-serif;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f8f8f8;
}

.navbar-menu {
  display: flex;
  gap: 2rem;
}

.navbar-item {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.navbar-item:hover {
  background-color: #fdfeff;
  color: #3c54cd;
}

.navbar-end {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-user {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 1rem;
}

.user-name {
  font-weight: bold;
  color: #ffffff;
}

.user-role {
  font-size: 0.8rem;
  color: #e2dada;
}

.logout-button {
  padding: 0.5rem 1rem;
  background-color: #6361e2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #5430e3;
}
