/* src/components/ViewModal.css */
.view-modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.view-modal-content {
  position: relative;
  background: #ffffff;
  padding: 1.5rem 2rem;
  border-radius: 8px;
  max-width: 600px;
  width: 95%;
  max-height: 90vh;
  overflow-y: auto;
}

.view-image {
  max-width: 100%;
  border-radius: 6px;
  margin-bottom: 1rem;
  
}

.view-close-btn {
position: absolute;
  top: 5px;
  right: 5px;
  background: linear-gradient(to right, #2b6cb0, #3182ce); /* Azul académico */
  color: white;
  width: 20px;
  height: 35px;
  border: none;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.view-close-btn:hover{
    background: linear-gradient(to right, #1a365d, #2b6cb0); 
}
h2{
    text-align: center;
}